* {
  box-sizing: border-box;
}
.note_box {
  max-width: 90%;
  margin: 0 auto;
  border: 2px solid black;
  display: inline-block;
  padding: 0;
}
.note_box__btn {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  float: left;
  text-align: center;
  position: relative;
  transition: 0.2s;
}
.note_box__btn__text {
  position: absolute;
  color: inherit;
  width: 100%;
  text-align: center;
  font-size: 14px;
  bottom: 0;
  left: 0;
}
.pressed {
  background-color: gray;
}
.sharp.pressed {
  background-color: gray;
}
.sharp {
  background-color: black;
  color: white;
  width: 25px;
  margin-left: -25px;
  height: 100px;
  transform: translateX(50%);
  z-index: 5;
}
.stop_btn {
  margin: 0 24px;
}